

body{
    background-color: lightgray;
}
#logo{
    height: 60px;
    width: 60px;
    border-radius: 5px;
}



/* audio{
    width: 500px;
} */

#topheader{
    /* background-color: lightslategray; */
    border-radius: 42px;
   
}
#toplogo{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: rgba(151, 246, 154, 0.87);
    
    /* width: 100%; */
}
#toplogo a span{
    font-weight: bolder;
}
nav a{
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;

}
nav a:hover{
    background-color: skyblue;
}

#home-title{
    text-decoration: underline 4px black;

}

/* .page-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.page-box iframe{
    margin: 5px 5px;
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 3px;
}
.page-box iframe:hover{
    border: 4px solid green;
    border-radius: 3px;
} */




/* div p{
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
} */


#playlistlink a{
    text-decoration: underline;
    padding: 4px;
    border-radius: 10px;
}
#playlistlink a:hover{
    background-color: lightgreen;
}


/* css for courses.html */

.course-section h1{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 20px;
    text-decoration: underline 3px;
    
}

.course-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.items{
    margin: 10px 10px;
    /* padding: 10px 10px; */
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #9f0d00;
    width: 150px;
}

.items:hover{
    border: 4px solid green;
    border-radius: 3px;
}


/* css for pdf.html */

#pdf {
    text-transform: capitalize;
}

.pdf-section h1{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 20px;
    text-decoration: underline 3px;
    
}
.pdf-section h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    text-decoration: underline 2px;
    
}

.pdf-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 50px;
}


.pdf-items{
    margin: 10px 10px 40px 10px;
    /* padding: 10px 10px; */
    font-size: 7px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border-radius: 3px;
    width: 120px;
    height: 180px;
}
.pdf-items img{
    width: 120px;
    height: 150px;
}

.pdf-items:hover{
    border: 3px solid green;
    border-radius: 3px;
}

/* css for responsive-iframe start */
.page-box{
    position: relative;
    overflow: hidden;
    margin-left: 70px;
    margin-right: 70px;
    width: 90%;
    padding-top: 75%;
}
.responsive-iframe{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150%;
  margin: 50px 0px;
}
/* css for responsive-iframe end */
/* .page-box iframe{
    margin: 5px 5px;
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 3px;
} */
/* .page-box iframe:hover{
    border: 4px solid green;
    border-radius: 3px;
} */


/* scroll back to top css start */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 0, 0,0.4); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    /* font-size: 18px; Increase font size */
  }

  #myBtn:hover {
    background-color: rgba(255, 0, 0,0.8); /* Add a dark-grey background on hover */
  }
  /* scroll back to top css end */